.audio-recorder {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.audio-preview {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}
