<app-box>
  <div class="audio-recorder">
    @if (isRecording$ | async) {
      @if (isPaused$ | async) {
        <app-icon-button
          (click)="resume()"
          iconName="restart_alt"></app-icon-button>
      } @else {
        <app-icon-button
          (click)="pause()"
          iconName="pause_circle"></app-icon-button>
      }
      <app-icon-button (click)="stop()" iconName="stop"></app-icon-button>
    } @else {
      <app-icon-button (click)="start()" iconName="mic"></app-icon-button>

      @if (isFinished$ | async) {
        <app-icon-button
          (click)="uploadRecording()"
          iconName="upload"></app-icon-button>
      }
    }
  </div>
  <div class="audio-preview">{{ generatedFileName$ | async }}</div>
</app-box>
