<app-box>
  <div class="audio-recorder">
    @if (isRecording) {
      @if (isPaused) {
        <app-icon-button
          (click)="resumeRecording()"
          iconName="restart_alt"></app-icon-button>
      } @else {
        <app-icon-button
          (click)="pauseRecording()"
          iconName="pause_circle"></app-icon-button>
      }
      <app-icon-button
        (click)="stopRecording()"
        iconName="stop"></app-icon-button>
    } @else {
      <app-icon-button
        (click)="startRecording()"
        iconName="mic"></app-icon-button>
    }
  </div>
</app-box>
