@use '@angular/material' as mat;
@use 'variables' as var;

.app-container {
  border-radius: var.$border-radius;
  padding: 0.5rem;

  @include mat.card-overrides(
    (
      title-text-size: var(--font-size-medium),
      outlined-container-color: var(--color-white),
      outlined-outline-color: var(--color-darkgray),
    )
  );
}
