@use '@angular/material' as mat;
@use 'variables' as *;

.app-container {
  border-radius: $border-radius;
  padding: 0.5rem;
  height: 100%;
  gap: 1rem;

  @include mat.card-overrides(
    (
      title-text-size: var(--font-size-medium),
      outlined-container-color: var(--color-white),
      outlined-outline-color: var(--color-dark-gray),
    )
  );
}
