<section class="app-header">
  <div class="app-header-content">
    <div class="logo-section logo-section__home">
      <mat-icon
        class="icon"
        fontSet="material-symbols-outlined"
        (click)="navigateToHome()"
        >speech_to_text</mat-icon
      >
      <h2>Voice Journal Tutor</h2>
    </div>
    <div div class="logo-section logo-section__settings">
      <mat-icon
        class="icon"
        fontSet="material-symbols-outlined"
        (click)="logout()"
        >logout</mat-icon
      >
      <mat-icon
        class="icon"
        fontSet="material-symbols-outlined"
        (click)="openSettings()"
        >settings</mat-icon
      >
    </div>
  </div>
</section>
