.app-header {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
  background-color: var(--color-light-violet);

  &-content {
    display: flex;
    width: 80%;
    justify-content: space-between;

    .logo-section {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      &__home {
        justify-content: start;
      }
      &__settings {
        justify-content: end;
      }
    }
  }
}
