.home-page {
  display: flex;
  gap: 1rem;
  height: 100%;
  .card {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .record-correct {
    flex: 2;
  }

  .journal-tutor,
  .sentiment-history {
    flex: 1;
  }
}
