.recording-page {
  display: flex;
  gap: 1rem;
  height: 100%;
  .card {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  .recording-text {
    flex: 1;
  }

  .sentiment-recording {
    flex: 1;
  }
}
