.app-footer {
  display: flex;
  height: 40px;
  background-color: var(--color-light-gray);
  color: var(--color-white);
  justify-content: center;

  &-content {
    display: flex;
    align-items: center;

    &__icon {
      margin-right: 1rem;
    }
  }
}
