.app-icon-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid var(--color-dark-gray);
  border-radius: 2px;
  background-color: var(--color-white);
  &:not(.outlined) {
    border: none;
    background-color: transparent;
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
